<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>      
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-calendario></app-calendario>
        </div>
    </div>
</div>