<header>
  <div class="example-sidenav-content">
    <button mat-raised-button color="primary" type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</header>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
    <app-calendario></app-calendario>
</mat-drawer-container>
